 <div id="menu" class="menu ocultar">

         <div class="menu-contenedor">
               <!-- <div class="cabecera">
                  <img class="img-logo" src="assets/img/log.png">
                  <div class="nom-sistema">HORARIOS FIM</div>
               </div> -->
               <div class="nav">
                  <ul>
                  <li class="titulo-sub-menu">MANTENIMIENTO</li>
                     <li><a href="index.php"><i class="icono izquierda fas fa-registered"></i>Principal</a></li>
                     <li><a href="index.php?url_sistema_horarios=Configuracion"><i class="icono izquierda fas fa-cog"></i>Configuración</a></li>
                     <li><a href="index.php?view=Restaurar"><i class="icono izquierda fas fa-redo-alt"></i>Restaurar</a></li>
                     <li><a href="index.php?view=CargaCurso"><i class="icono izquierda fas fa-book"></i>Carga Curso</a></li>
                     <li><a href="index.php?view=CargaDocente"><i class="icono izquierda fas fa-users"></i>Carga Docente</a></li>
                     <li class="titulo-sub-menu">VISTAS</li>
                     <li>
                        <a href="#" id="link1"><i class="izquierda fas fa-eye"></i>Automatico<i class="icono derecha fas fa-chevron-down"></i></a>
                        <ul>
                           <li><a href="index.php?view=Docentes_Automatico"></i>Docentes</a></li>
                           <li><a href="index.php?view=Aulas_Automatico">Aulas</a></li>
                           <li><a href="index.php?view=Cursos_Automatico">Cursos</a></li>
                           <li><a href="index.php?view=Modulo1_Automatico">Modulo 1</a></li>
                           <li><a href="index.php?view=Modulo2_Automatico">Modulo 2</a></li>
                           <li><a href="index.php?view=Modulo3_Automatico">Modulo 3</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#" id="link2"><i class="icono izquierda fas fa-hand-paper"></i> Manual <i class="icono derecha fas fa-chevron-down"></i></a>
                        <ul>
                           <li><a href="index.php?url_sistema_horarios=Docentes_Manual">Docentes</a></li>
                           <li><a href="index.php?url_sistema_horarios=Aulas_Manual">Aulas</a></li>
                           <li><a href="index.php?url_sistema_horarios=Cursos_Manual">Cursos</a></li>
                           <li><a href="index.php?url_sistema_horarios=Modulo_Manual">Modulos</a></li>
                        </ul>
                     </li>
                     <li class="titulo-sub-menu">REPORTES</li>
                     <li><a href="index.php?view=CruceDocente" id="link1"><i class="icono izquierda fas fa-user-circle"></i>Cruce Docentes</a>
                     <li><a href="index.php?view=CruceAula" id="link1"><i class="icono izquierda fas fa-cube"></i>Cruce Aulas</a>
                     <li><a href="index.php?view=CruceCurso" id="link1"><i class="icono izquierda fas fa-book"></i>Cruce Cursos</a>
                        <li><a href="index.php?view=AulasTeoriaDisponibles" id="link1"><i class="icono izquierda fas fa-cube"></i>Aulas T Disponibles</a>
                     <li><a href="index.php?view=AulasComputoDisponibles" id="link1"><i class="icono izquierda fas fa-book"></i>Aulas C Disponibles</a>
                     <!-- <li><a href="#" id="link1"><i class="icono izquierda fas fa-clipboard"></i> Cursos</a> -->
                  </ul>
               </div>
         </div>
         

         <!-- <div class="btn-menu-contenedor">
            <center>
               <button id="btn-menu" class="btn-menu fas fa-bars"></button>
            </center>
         </div> -->

      </div>